@model Wardrobe.Models.Bottom

@{
    ViewBag.Title = "Details of a Bottom";
}

<h2 class="leader">Details of a Bottom</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal detailscontainer">
        <dt>
            @Html.DisplayNameFor(model => model.BottomName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomName)
        </dd>
        <img class="clothespix" src="@Html.DisplayFor(model => model.BottomPic)" />
        
        <dd>
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BottomColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasion.OccName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasion.OccName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>

    </dl>
</div>
<p class="btn btn-default">
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
