@model IEnumerable<Wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index of Bottoms";
}

<h2 class="leader">Index of Bottoms</h2>

<p class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</p>
<p></p>
<div class="row clothescontainer">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail reviewthumb">
                <div class="caption">
                    <p> @Html.DisplayNameFor(model => model.BottomName):@Html.DisplayFor(modelItem => item.BottomName)</p>
                    <p>@Html.DisplayNameFor(model => model.BottomColor):@Html.DisplayFor(modelItem => item.BottomColor)</p>
                    <p>@Html.DisplayNameFor(model => model.Occasion.OccName):@Html.DisplayFor(modelItem => item.Occasion.OccName)</p>
                    <p>@Html.DisplayNameFor(model => model.Season.SeasonName): @Html.DisplayFor(modelItem => item.Season.SeasonName)</p>
                    <p> <img class="clothespix" src="@Html.DisplayFor(modelItem => item.BottomPic)" /></p>
                    <p class="btn btn-default">
                        @Html.ActionLink("Edit", "Edit", new { id = item.BottomID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BottomID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BottomID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
